@charset "utf-8";
/* CSS Document */

body{
	background-image: url(1_1920x1080.jpg);
	
	}

h1{
	color: #FF0000;
	font-style: normal;
	font-weight: 400;
	font-family: allura;
	text-align: center;
	text-shadow: 1px 1px;
	font-size: 60px;
	margin-top: 200px;
}

h2{
	text-align: center;
	color: #FF0000;
	font-variant: small-caps;
	}
	
.sign{
	border-collapse: collapse;
	border-color: #FF0000;
	background-color: #003366;
	font-style: italic;
	font-size: x-large;
	opacity: 1;
	border-radius: 10px;
	position: relative;
	left: px;
	top: px;
	right: px;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(255,255,255,1.00)),color-stop( 100% , rgba(105,34,236,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(105,34,236,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(105,34,236,1.00) 100%);
	}
	
	
	h3{
	text-align: center;		
	}
.background{
	left: 730px;
	position: relative;	
	
	}